/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: auto;
	max-width: 700px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

.lacey-container {
	margin: 38px auto;
	width: 604px;
	height: 700px;
	text-align: center;
	display: grid;
	grid-template-rows: 14.25% 67% 20%;
	grid-row-gap: 24px;
}

.box-1 {
	text-align: center;
	font-size: 29px;
	background-color: #424242;
	color: white;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	border-radius: 6px;
	padding: 30px;
}

.arrow-down {
	position: relative;
	right: -475px;
	bottom: -25px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-top: 20px solid #424242;
}

.box-2 {
	background-color: white;
	font-size: 29px;
  border-color: #dadada;
  border-width: 2px;
  border-style: solid;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #777;
	text-align: left;
	box-shadow: 0 3px #eaeaea;
}

.box-3 {
	display: flex;
	justify-content: space-between;

}

.progressbar {
	border-bottom: 2px solid #dadada;
	width: 100%;
	height: 25px;
}

.progressbar-fill{
	height: 100%;
	width: 75%;
	background-color: #EF5F3C;

}

.box-2 p {
	margin: 28px 38px;

}

.orange-font {
	color: #EF5F3C;
	font-weight: bold;
}

.grey-font {
	color: #777;
}

.give-now-form {
	margin: 0 38px;
	display: flex;
	justify-content: space-between;
}

.give-now-form .box {
	width: 47%;
	height: 103px;
	font-weight: bold;
	border-radius: 5px;

}

.give-now-form .input {
	text-align: left;
	padding: 25px 15px;
	font-size: 35px;
	color: black;
	border: 2px solid #dadada;

}

.give-now-form .button {
	background-color: #1CBC2C;
	text-align: center;
	padding: 25px 20px;
	font-size: 33px;
	color: white;
}

.blue-font{
	font-style: italic;
	color: #20A1D4;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-size: 28px;
}

.bottom-buttons {
	border: 2px solid #dadada;
	width:47%;
	height: 80px;
	color:  #777;
	font-size: 26px;
	font-weight: bold;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 3px #dadada;
}
